@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

* {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #202020;
}

main {
  background-color: #101010;
}

a {
  text-decoration-line: none;
  color: white;
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif;
}

#title,
#searchForm {
  flex: 1;
}

#title {
  margin-left: 30px;
  text-align: left;
}

#searchForm {
  margin-right: 30px;
  text-align: right;
}

#searchForm {
  padding: 6px;
  width: 200px;
}

#searchStr {
  font-size: 17px;
  height: 34px;
  width: 200px;
  margin-right: 4px;
  border-radius: 4px;
  border: none;
}

#searchStr:focus {
  outline: none;
}

#searchBtn {
  float: right;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
}

#searchBtn img {
  width: 20px;
  height: 20px;
}

#searchBtn:hover {
  background: #ccc;
}

#card {
  width: 90%;
  margin: 16px;
  padding-bottom: 16px;
  background-color: #eaeae8;
  text-align: center;
  border-radius: 10px;
}

/*  Display two cards per row at 576px breakpoint */
@media (min-width: 576px) {
  #cardList {
    /*  Set the display for the outer container to flex */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  #card {
    /*  Set the flex-basis so that two cards are displayed in each row. */
    flex-basis: calc(50% - 3rem);
  }
}

/*  Display four cards across one row at 992px breakpoint */
@media (min-width: 992px) {
  #card {
    /*  Set the flex-basis so four cards are displayed across one row. */
    flex-basis: calc(25% - 3rem);
  }
}

#card img {
  width: 100%;
}

#card:hover {
  cursor: pointer;
}

#cardContent {
  padding: 2px 16px;
}

#movieTitle {
  font-size: 18px;
  font-weight: bold;
}

#movieRate {
  font-weight: bold;
}
